<h1>{{title}}</h1>
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ng-for="#hero of heroes"
        (click)="onSelect(hero)"
        [ng-class]="getSelectedClass(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
<div *ng-if="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <div><label>id: </label>{{selectedHero.id}}</div>
    <div>
        <label>name: </label>
        <div><input [(ng-model)]="selectedHero.name" placeholder="name"></div>
    </div>
</div>
